body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

p {
    color: #8f8f8f;
}

/* Headings */

.big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Containers */

.container-fluid {
    padding: 7% 15%;
}

/* Sections */

.colored-section {
    background-color: #ff4c68;
    color: white;
}

.white-section {
    background-color: white;
}

/* Title */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

.img-wrapper {
    position: relative;
}

.apple-dog {
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    right: 30%;
}

/* Navigation bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 200;
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Features  */

#features {
    position: relative;
}

.icon {
    color: #ef8172;
    margin-bottom: 1em;
}

.icon:hover {
    color: #ff4c68;
}

.feature-title {
    font-size: 1.5rem;
}

.feat-char {
    width: 60%;
    margin: auto;
}

/* Testimonials */

#testimonials {
    background-color: #ef8172;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* Press */

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
    padding: 100px;
}

.p-space {
    padding-bottom: 38px;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.column-price {
    padding: 3% 2%
}

/* Call to action */


/* Footer */

.sm-logo {
    margin: 20px 30px;
}

@media (max-width:990px) {
    #title {
        text-align: center;
    }

    .apple-dog {
        position: static;
        transform: rotate(0);
    }
}